.margin-r {
    margin-right: 1rem;
}

.text--bold {
    font-weight: 700;
}

.chart-current-month {
    width: 20px;
    transform: translateX(-10px);
}

td.number-detail {
    background: url("/images/plus.svg") no-repeat center center;
    cursor: pointer;
    width: 2rem;
}
tr.number-detail-expanded,
tr.number-detail-expanded + tr {
    background-color: #fbfbfb;
}
tr.number-detail-expanded td.number-detail {
    background: url("/images/minus.svg") no-repeat center center;
}
td.number-detail,
tr.number-detail-expanded td.number-detail {
    background-size: 30%;
}
tr.number-detail-expanded + tr > td {
    border-top-width: 0;
}

.table--horizontal-scroll th, .table--horizontal-scroll td { white-space: nowrap; }

.table-cell__highlight {
    background-color: #f3f7fa;
}

.flex {
    display: flex;
}
.flex--align-center {
    align-items: center;
}
.flex-justify-end {
    justify-content: flex-end;
}

.usage-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.usage-header--sticky {
    -webkit-position: sticky;
    position: sticky;
    top: 0;
    padding: 2rem 0;
    margin-bottom: 2rem;
    background-color: white;
    border-bottom: 1px solid lightgray;
    z-index: 10;
}
.usage-header__item {
    min-width: 0;
}
.usage-header__item--no-shrink {
    flex-shrink: 0;
}

.usage-context-list {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.usage-context-list + .usage-context-list {
    margin-top: 1rem;
}
.usage-context-list__item {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.usage-context-list__item + .usage-context-list__item {
    margin-left: 2rem;
}

.usage-breadcrumbs {
    display: flex;
    padding-right: 2rem;
}
.usage-breadcrumbs__item {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.usage-breadcrumbs__item + .usage-breadcrumbs__item {
    position: relative;
    padding-left: 4rem;
}
.usage-breadcrumbs__item + .usage-breadcrumbs__item:after {
    content: ">";
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translateY(-50%);
    font-size: 1.5rem;
}
